<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.weixunyun.child.model.dao.FavoriteMapper">

    <select id="isFavorite" parameterType="map" resultType="int">
        select count(*) from favorite where player_id=#{playerId} and court_id=#{courtId}
    </select>

    <select id="getList" resultType="CourtVO" parameterType="map">
        select c.* from court c
        join favorite f
        on f.court_id=c.id
        where f.player_id=#{playerId}
        <if test="keyword !=null and keyword !=''">
            and ( c.name like '%'|| #{keyword}||'%' or c.mobile like '%'|| #{keyword}||'%')
        </if>
        order by f.create_time desc
        <if test="rows !=null and rows !=0">
            limit #{rows} offset #{offset}
        </if>
    </select>

    <delete id="delete" parameterType="map">
        delete from favorite
        where player_id=#{playerId} and court_id=#{courtId}
     </delete>

    <insert id="insert" parameterType="Friend">
        insert into favorite (player_id, court_id, create_time)
        values (#{playerId}, #{courtId}, #{createTime})
    </insert>

</mapper>