<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.weixunyun.child.model.dao.FriendMapper">

    <select id="isFriend" parameterType="map" resultType="int">
        select count(*) from friend where player_id=#{playerId} and friend_id=#{friendId}
    </select>

    <select id="getList" resultType="FriendVO" parameterType="map">
        select f.*, p.name as friend_name
        from friend f
        left join player p
        on p.id=f.friend_id
        where f.player_id=#{playerId}
        <if test="keyword !=null and keyword !=''">
            and p.name like '%'|| #{keyword}||'%'
        </if>
        order by p.name
        <if test="rows !=null and rows !=0">
            limit #{rows} offset #{offset}
        </if>
    </select>

    <select id="getTeamPlayerList" resultType="FriendVO" parameterType="map">
        SELECT
            T . group_id,
            T . ID AS team_id,
            T . NAME AS team_name,
            P . ID AS friend_id,
            P . NAME AS friend_name
        FROM
            team T
        LEFT JOIN team_player tp ON T . ID = tp.team_id
        LEFT JOIN player P ON P . ID = tp.player_id
        where tp.player_id != #{playerId}
        and T . tmp = false
        <choose>
            <when test="teamId !=null">
                and t.id = #{teamId}
            </when>
            <otherwise>
                and T . ID IN (
                SELECT
                team_id
                FROM
                team_player
                WHERE
                player_id = #{playerId}
                )
            </otherwise>
        </choose>
        <if test="keyword !=null and keyword !=''">
            and p.name like '%'|| #{keyword}||'%'
        </if>
        ORDER BY t.name,t.id
    </select>


    <delete id="delete" parameterType="map">
        delete from friend
        where player_id=#{playerId} and friend_id=#{friendId}
     </delete>

    <insert id="insert" parameterType="Friend">
        insert into friend (player_id, friend_id)
        values (#{playerId}, #{friendId})
    </insert>

</mapper>