<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.weixunyun.child.model.dao.MatchMapper">

    <sql id="BaseSelect">
        SELECT
          M .*, dv. NAME AS rule_name,
          C .address,
          C .detail_address,
          C .name as court_name,
          C .px,
          C .py
        FROM
          MATCH M
        LEFT JOIN dictionary_value dv ON dv.dictionary_table_code = 'team'
        AND dictionary_field_code = 'rule'
        AND M . RULE = dv.code :: INTEGER
        LEFT JOIN court C ON C . ID = M .court_id
    </sql>

    <select id="get" resultType="MatchVO" parameterType="long">
        <include refid="BaseSelect"/>
        where m.id = #{id,jdbcType=NUMERIC}
    </select>

    <select id="select" resultType="Match" parameterType="long">
        select * from match where id=#{id}
    </select>

    <select id="getList" resultType="MatchVO" parameterType="map">
        SELECT
          M .*, /*dv. NAME AS rule_name,*/
          C .address,
          C .detail_address,
          C .name as court_name,
          C .px,
          C .py
        <if test="px !=null and py !=null">
            , round(earth_distance(ll_to_earth(C. py, C .px), ll_to_earth(#{py}, #{px}))) AS distance
        </if>
        FROM
          MATCH M
       <!-- LEFT JOIN dictionary_value dv ON dv.dictionary_table_code = 'team'
        AND dictionary_field_code = 'rule'
        AND M . RULE = dv.code :: INTEGER-->
        LEFT JOIN court C ON C . ID = M .court_id

        where open = true
        <if test="city !=null">
            and c.address like '%'|| #{city}||'%'
        </if>
        <if test="rule !=null">
            <![CDATA[
                    and m.rule & #{rule} > 0
                    ]]>
        </if>

        <choose>
            <when test="beginDate == null and endDate == null">
                <![CDATA[
                        and end_time < now()
                        ]]>
            </when>
            <when test="beginDate !=null">
                and m.begin_time > #{beginDate}
            </when>
            <when test="endDate !=null">
                <![CDATA[
                    and m.begin_time <= #{endDate}
                    ]]>
            </when>
        </choose>
        <if test="keyword !=null and keyword !=''">
            and ( m.name like '%'|| #{keyword}||'%' or C .name like '%'|| #{keyword}||'%')
        </if>

        <choose>
            <when test="px !=null and py !=null">
                order by distance, m.begin_time desc
            </when>
            <otherwise>
                order by m.begin_time desc
            </otherwise>
        </choose>

        <if test="rows !=null and rows !=0">
            limit #{rows} offset #{offset}
        </if>
    </select>

<!--我的球赛、球场球赛、球队球赛列表-->
    <select id="getPlayerMatchList" resultType="MatchVO" parameterType="map">
        select m.*, c.name as court_name
        from match m
        left join court c on c.id=m.court_id
        left join team_player tp1 on tp1.team_id = m.team_id
          left join team t1 on t1.id = m.team_id
        left join team_player tp2 on tp2.team_id = m.accept_team_id
          left join team t2 on t2.id = m.accept_team_id
        where
        (tp1.player_id=#{playerId} or tp2.player_id=#{playerId})

        <if test="beginDate !=null">
            and m.begin_time > #{beginDate}
        </if>
        <if test="endDate !=null">
            <![CDATA[
                    and m.begin_time <= #{endDate}
                    ]]>
        </if>
        <if test="keyword !=null and keyword !=''">
            and ( t1.name like '%'|| #{keyword}||'%' or t2.name like '%'|| #{keyword}||'%'
            or c.name like '%'|| #{keyword}||'%')
        </if>
        <if test="type !=null">
            and m.type=#{type}
        </if>
        order by m.begin_time desc
        <if test="rows !=null and rows !=0">
            limit #{rows} offset #{offset}
        </if>
    </select>

    <!-- 球场球赛列表，如果需要根据球赛名称查询列表，则可根据left join team t1 left join team t2 on t2.id = accept_team_id 来查询 -->
    <select id="getCourtMatchList" resultType="MatchVO" parameterType="map">
        select m.*, c.name as court_name
        from match m
        left join court c on c.id=m.court_id
        where m.court_id = #{courtId}
        order by m.begin_time desc
        <if test="rows !=null and rows !=0">
            limit #{rows} offset #{offset}
        </if>
    </select>

<!--
    此时的teamId参数，应该包含srcTeamId=teamId的球队ID
-->
    <select id="getTeamMatchList" resultType="MatchVO" parameterType="map">
        with v as (
        SELECT id from team where src_team_id=#{teamId} and tmp is true
        )
        select m.*, c.name as court_name
        from match m
        left join court c on c.id=m.court_id
        where m.team_id in (SELECT id from v)  or m.accept_team_id in (SELECT id from v)
        order by m.begin_time desc
        <if test="rows !=null and rows !=0">
            limit #{rows} offset #{offset}
        </if>
    </select>

    <sql id="DateSelect">
        SELECT
            begin_time :: DATE AS date,
            COUNT (*) AS COUNT
        FROM
            (
                SELECT
                    M .begin_time,
                    tp.team_id,
                    tp.player_id
                FROM
                    MATCH M
                JOIN team_player tp ON tp.team_id = M .team_id
                UNION ALL
                    SELECT
                        M .begin_time,
                        tp.team_id,
                        tp.player_id
                    FROM
                        MATCH M
                    JOIN team_player tp ON tp.team_id = M .accept_team_id
            ) M
    </sql>

    <select id="getListByPlayerId" resultType="map" parameterType="map">
        <include refid="DateSelect"/>
        WHERE
            player_id = #{playerId}
        <if test="beginDate !=null">
            <![CDATA[
            and begin_time between #{beginDate}::date and #{endDate}::date
            ]]>
        </if>
        GROUP BY
          begin_time::date
        /*ORDER BY
        begin_time::date*/
    </select>

    <select id="getListByTeamId" resultType="map" parameterType="map">
        <include refid="DateSelect"/>
        WHERE
            team_id = #{teamId}
        <if test="beginDate !=null">
            <![CDATA[
            and begin_time between #{beginDate}::date and #{endDate}::date
            ]]>
        </if>
        GROUP BY
          begin_time::date
        /*ORDER BY
        begin_time::date*/
    </select>

    <delete id="delete" parameterType="long">
        delete from match
        where id = #{id,jdbcType=NUMERIC}
    </delete>
    <insert id="insert" parameterType="Match">
        insert into match (id, name, rule,
          fee, begin_time, end_time,
          court_id, type, create_time,
          create_player_id, update_time,
          team_id, accept_team_id, open)
        values (#{id,jdbcType=NUMERIC}, #{name,jdbcType=VARCHAR}, #{rule,jdbcType=INTEGER},
          #{fee,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
          #{courtId,jdbcType=NUMERIC}, #{type,jdbcType=NUMERIC}, #{createTime,jdbcType=TIMESTAMP},
          #{createPlayerId,jdbcType=NUMERIC}, #{updateTime,jdbcType=TIMESTAMP},
          #{teamId}, #{acceptTeamId}, #{open})
    </insert>

    <update id="update" parameterType="Match">
        update match
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="rule != null">
                rule = #{rule,jdbcType=INTEGER},
            </if>
            <if test="fee != null">
                fee = #{fee,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="courtId != null">
                court_id = #{courtId,jdbcType=NUMERIC},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=NUMERIC},
            </if>
            <if test="createPlayerId != null">
                create_player_id = #{createPlayerId,jdbcType=NUMERIC},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="acceptTeamId !=null ">
                accept_team_id = #{acceptTeamId}
            </if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </update>

    <update id="setOpen" parameterType="map">
        update match set open = #{open} where id = #{id}
    </update>
</mapper>