<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.weixunyun.child.model.dao.NearMapper">

    <select id="getList" resultType="Near" parameterType="map">
        select * from
        (
        select
          5 as type, c.id,  c.address, c.name, c.detail_address, update_time,
          null as sex, null as age, c.rule as dic, c.description,
          round(earth_distance(ll_to_earth(py, px), ll_to_earth(#{py}, #{px}))) AS distance
        from court c
        where c.tmp is not true
        union all
        select
          4 as type, id,  address, "name", null as detail_address, update_time,
          sex, EXTRACT(year from age(current_date , birthday)) as age, role as dic, description,
          round(earth_distance(ll_to_earth(py, px), ll_to_earth(#{py}, #{px}))) AS distance
        from player
        union all
        select
          3 as type, t.id,  t.address, t."name", null as detail_address, t.update_time,
          null as sex, null as age, t.rule as dic, t.description,
          round(earth_distance(ll_to_earth(py, px), ll_to_earth(#{py}, #{px}))) AS distance
        from team t
          left join player p on p.id=t.create_player_id
        where t.tmp is not true
        union all
        select
          "type", t.id,  c.address, t."name", null as detail_address, t.update_time,
          null as sex, null as age, t.rule as dic, null as description,
          round(earth_distance(ll_to_earth(py, px), ll_to_earth(#{py}, #{px}))) AS distance
        from "match" t
          left join court c on c.id=t.court_id
        where open = true
        <![CDATA[
                        and end_time > now()
                        ]]>
        ) v
        <if test="city !=null">
            where address like '%'|| #{city}||'%'
        </if>
        order by distance, type

        <if test="rows !=null and rows !=0">
            limit #{rows} offset #{offset}
        </if>
    </select>

</mapper>